body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

/*Structure*/
div#react-tictactoe-app {
  width: calc(100vw - 40px);
}
.game {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.game-board, .game-info {
  width: calc(50vw - 20px);
}
.square {
  width: calc((50vw - 40px) / 3);
  height: calc((50vw - 40px) / 3);
  box-sizing: content-box;
}



ol, ul {
  padding-left: 30px;
}

.ascending {
  display: flex;
  flex-direction: column;
}
.descending {
  display: flex;
  flex-direction: column-reverse;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: 2em;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  /*height: 34px;*/
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  /*width: 34px;*/
  color: black;
  font-size: 12.5vw;
}

.square:hover {
    background-color: grey;
}

.square:focus {
  outline: none;
}

button.square.winning-square {
  outline: green solid 2px;
  overflow: auto;
  outline-offset: -3px;
}

.kbd-navigation .square:focus {
  background: #ddd;
}









.toggleButton {
  margin: 0.5em 0 0.5em 0;
  width: 100%;
}







@media screen and (max-width: 600px) {

  .status {
      text-align: center;
      font-size: 2em;
  }

  ol {
      padding-left: 0px;
    }

  .game {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .game-board, .game-info {
    width: 100%;
  }
  .square {
    width: calc((99vw - 40px) / 3);
    height: calc((99vw - 40px) / 3);
    box-sizing: content-box;
    font-size: 25vw;
  }
}